* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
}

.container {
  margin: 0 auto;
  width: 400px;
  /* background-color: pink; */
  padding-top: 10px;
  padding-bottom: 10px;
}

h1,
h2 {
  padding-left: 15px;
}

ul {
  list-style-type: none;
}

.income-expense {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  /* background-color: rgb(59, 97, 59); */
  text-align: center;
  margin-top: 30px;
  height: 70px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}

.income {
  width: 100%;
  justify-self: center;
  border-right: 2px solid black;
}

.expense {
  justify-self: center;
}

.income-num,
.expense-num {
  font-weight: bold;
  font-size: 20px;
}

.income-num {
  color: green;
}

.expense-num {
  color: red;
}

.history-container {
  /* background-color: lightblue; */
  padding: 30px;
}

h3 {
  text-decoration: underline;
}

.items-container {
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item {
  /* background-color: blue; */
  padding: 15px 25px;
  border-radius: 5px;
  border-right-style: solid;
  border-right-color: red;
  border-right-width: 7px;
  /* border-right: 7px solid red; */
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  position: relative;
}

.delete {
  position: absolute;
  left: -34px;
  top: 50%;
  transform: translate(0, -50%);
  height: 28px;
  width: 28px;
  background-color: red;
  border-radius: 5px;
  border: none;
  color: white;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  transition: all 0.3s;
  opacity: 0;
}

.item:hover .delete {
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  /* background-color: lightsalmon; */
  padding: 30px;
}

.submit-btn {
  margin-top: 30px;
  width: 340px;
  height: 50px;
  font-size: 20px;
  background-color: rgb(89, 125, 222);
  border-radius: 5px;
  border: none;
  color: white;
}

input {
  height: 40px;
  padding-left: 20px;
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 1px 1px 1px 1px rgba(128, 128, 128, 0.634);
}

.input-text::placeholder {
  font-size: 18px;
}

.input-number::placeholder {
  font-size: 18px;
}
