* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-color: rgb(11, 36, 28);
}

.container {
  margin: 0 auto;
  width: 500px;
  background-color: pink;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
}

.income-expense {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  background-color: rgb(59, 97, 59);
  text-align: center;
  margin-top: 30px;
  height: 70px;
}

.income {
  width: 100%;
  justify-self: center;
  border-right: 2px solid black;
}

.expense {
  justify-self: center;
}

.history-container {
  background-color: lightblue;
  padding: 30px;
}

.items-container {
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item {
  background-color: blue;
  padding: 5px 10px;
  border-radius: 5px;
  border-right-style: solid;
  border-right-color: red;
  border-right-width: 7px;
  /* border-right: 7px solid red; */
}

.form {
  display: flex;
  flex-direction: column;
  background-color: lightsalmon;
  padding: 30px;
}

.submit-btn {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  width: 440px;
  height: 50px;
  font-size: 20px;
  background-color: rgb(139, 89, 89);
}

input {
  height: 40px;
  padding-left: 20px;
  font-size: 18px;
}

.input-text::placeholder {
  font-size: 18px;
}

.input-number::placeholder {
  font-size: 18px;
}
